.product {
    border: 1px solid $gris3;
    &__img {
        
    }

    &__title {
        color: #333;
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 0;
        &:hover {
            cursor: pointer;
        }
    }

    &__description {
        color: #888;
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    &__comments {
        margin: 1rem 0;
        border: 1px solid $gris3;
        img {
            width: 32px;
            margin-right: 2rem;
        }
        p {
            display: inline-block;
            margin-bottom: 0;
            font-weight: 600;
        }
    }

    &__fecha {
        font-weight: 600;
        margin-bottom: 0;
    }

    &__votos {
        text-align: center;
        border: 1px solid $gris3;
        padding: 0 2rem;
        margin-right: 15px;
        div {
            font-size: 2rem;
        }
    }
    &__eliminar {
        border: 1px solid #da552f;
        padding: 5px;
        border-radius: 5px;
        margin-right: 5px;
        background-color: #da552f;
        color: #fff;
        width: 80px;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
    &__editar {
        border: 1px solid #da552f;
        padding: 5px;
        border-radius: 5px;
        margin-right: 5px;
        background-color: transparent;
        color: #000;
        width: 80px;
        &:hover {
            color: #fff;
            background-color: #da552f;
            text-decoration: none;
        }
    }
    &__price {
        margin-top: 10px;
        color: #333;
        display: -webkit-flex;
        display: flex;
        font-size: 24px;
        font-weight: 400;
        margin-right: 6px;
        line-height: 1;
    }
}